body {
    margin: 0;
    background-color: #dff6ff;
    font-family: Arial, Helvetica, sans-serif;
}

#page-wrap {
    width: 900px;
    margin: 30px auto;
    background: white;
    border-top: 4px solid #e74c3c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

header {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

header h1 {
    margin: 0;
    color: #333;
    font-weight: 700;
}

nav ul {
    list-style: none;
    margin: 5px 0 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #e74c3c;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

#banner img {
    width: 100%;
    display: block;
    border-bottom: 3px solid #3498db;
}

#main {
    display: flex;
    padding: 20px;
}

article {
    flex: 3;
    margin-right: 20px;
}

article h2 {
    color: #b30000;
    margin-bottom: 5px;
}

.meta {
    font-size: 13px;
    color: #888;
}

.meta span {
    color: #e74c3c;
}

aside {
    flex: 1;
    background: #f5f5f5;
    padding: 10px;
    text-align: center;
}

aside {
    flex: 1;
    background: #fff;
    padding: 15px;
    font-size: 14px;
    color: #444;
}

aside h3 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.penulis {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.penulis img {
    width: 100px;
    height: 150px;
    object-fit: cover;

}

.penulis p {
    margin: 0;
    text-align: justify;
    line-height: 1.4;
}

footer {
    background: #e74c3c;
    color: white;
    text-align: center;
    padding: 10px 0;
}